<h1> View <%= @book.name %></h1>
<div>
  <span class="left"><%= link_to "All Books", books_path %></span>
  <span class="right"><%= link_to "Home", root_path %></span>
</div>
<br>
<br>
<div>
  <table style="border: 1px solid black">
    <thead>
      <tr>
      <th>SpellName</th>
      <th>Remove from Book</th>
      </tr>
    </thead>
    <tbody>
      <% @book.spells.each do |spell| %>
      <tr>
        <td><%= link_to spell.name, spell_path(spell) %></td>
        <td><%= button_to "Remove Spell", spell_book_path(spell), method: :delete%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Add Spell",  add_spell_path%>
