<%= form_for spell do |form| %>
  <% if spell.errors.any? %>
    <ul>
    <% spell.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :level %>
    <%= form.select :level, Spell::LEVEL, prompt: 'Select Level'%>
  </div>
  <br>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>
    <br>
  <div>
  <%= form.label :school %>
  <%= form.select :school, Spell::SCHOOL_OPTIONS, prompt: "Select a School" %>
  </div>
    <br>
    <div>
    <%= form.radio_button :concentration, false %> No<br />
    <%= form.radio_button :concentration, true %> Yes<br />
    </div>
    <br>
    <div>
    <%= form.label :classes %>
    <% Spell::CLASS_OPTIONS.each do |c| %>
      <%= form.check_box :classes, { multiple: true }, c, false %>
      <%= c %>
    <% end %>
    </div>
    <br>
    <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
    </div>
    <br>
  <%= form.submit %>
<% end %>
