<h1>Add <%= @spell.name  %> to Book</h2>
<div>
  <span class="left"><%= link_to "All Spells", spells_path %></span>
  <span class="right"><%= link_to "Home", root_path %></span>
</div>
<br>
<br>
<h2>Select Book:</h2>
<%= form_for @spell_book do |form| %>
  <% if @spell_book.errors.any? %>
    <ul>
    <% @spell_book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <%= form.hidden_field :spell_id, value: @spell.id %>
  <%= form.select :book_id, @books.collect { |book| [ book.name, book.id] } %>
  <%= form.submit "Submit" %>
<% end %>
