<h1>All Spells</h1>

<div>
  <span class="left"><%= link_to "Create New Spell", new_spell_path %></span>
  <span class="right"><%= link_to "Home", root_path %></span>
</div>
<br>
<br>

<%= form_for @spell, url: spells_path, method: :get do |form| %>
<div class = "row">
  <div class = "column">
    <ul style="list-style-type:none">
      <%= form.label :level %>
      <% Spell::LEVEL.each do |c| %>
        <li><%= form.check_box :level, { multiple: true }, c, false %> <%= c %> </li>
      <% end %>
    </ul>
  </div>

  <div class = "column">
    <ul style="list-style-type:none">
      <%= form.label :school %>
      <% Spell::SCHOOL_OPTIONS.each do |c| %>
        <li><%= form.check_box :school, { multiple: true }, c, false %> <%= c %> </li>
      <% end %>
    </ul>
  </div>

  <div class = "column">
    <ul style="list-style-type:none">
      <%= form.label :classes %>
      <% Spell::CLASS_OPTIONS.each do |c| %>
        <li><%= form.check_box :classes, { multiple: true }, c, false %> <%= c %> </li>
      <% end %>
    </ul>
  </div>
  <div class="column">
    <ul style="list-style-type:none">
      <%= form.label :concentration %>
      <% [["Yes", true], ["No", false]].each do |c| %>
        <li><%= form.check_box :concentration, { multiple: true }, c[1], false %> <%= c[0] %> </li>
      <% end %>
    </ul>
 </div>
</div>
<div class = "button">
  <%= form.submit "Apply Filter" %>
</div>
  <% end %>

<br>
<br>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>SpellName</th>
      <th>School</th>
      <th>Classes</th>
      <th>Concentration</th>
      <th>Edit/Add to Book</th>
    </tr>
  </thead>
  <tbody>
    <% @spells.each do |spell| %>
      <tr>
        <td><%= spell.level%></td>
        <td><%= link_to spell.name, spell_path(spell) %></td>
        <td><%= spell.school %></td>
        <td><%= spell.classes %></td>
        <td><%= spell.concentration %> </td>
        <td>
        <div><%= link_to "Edit", edit_spell_path(spell)%></div>
        <div><%= link_to "Add to Book", add_to_book_path(spell) %></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



