<h1>Show Spell</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Level</th>
        <th>School</th>
        <th>Classes</th>
        <th>Concentration</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @spell.name%></td>
          <td><%= @spell.level%></td>
          <td><%= @spell.school%></td>
          <td><%= @spell.classes%></td>
          <td><%= @spell.concentration%></td>
          <td><%= @spell.description%></td>
        </tr>
    </tbody>
  </table>
</div>

<%= link_to "Edit Spell", edit_spell_path(@spell) %> &ensp;
<%= link_to "View Spells", spells_path %> &ensp;
<%= link_to "Create New Book", new_book_path %> &ensp;
<%= link_to "View Books", books_path %>

