<h1>View <%= @spell.name%></h1>
<div>
  <span class="left"><%= link_to "All Spells", spells_path %></span>
  <span class="right"><%= link_to "Home", root_path %></span>
</div>
<br>
<br>
<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Level</th>
        <th>School</th>
        <th>Classes</th>
        <th>Concentration</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @spell.name%></td>
          <td><%= @spell.level%></td>
          <td><%= @spell.school%></td>
          <td><%= @spell.classes%></td>
          <td><%= @spell.concentration%></td>
          <td><%= @spell.description%></td>
        </tr>
    </tbody>
  </table>
</div>

<%= link_to "Add "+@spell.name+" to Book", new_spell_book_path(spell_id: @spell.id, spell_name: @spell.name)%>

